*.exe
.idea
.vscode
*.iml
*.local
/*.log
*.out
*.prof
*.test
.DS_Store
*.dmp
*.db

*.asm
*.o
*.dbg
*.bin
*.nes
coverage.txt
nesgodisasm
retrodisasm
internal/testroms/
dist/

# temporary assembler files
*.nl
*.lst
